body {
    background-color: #152428;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #fff;
    margin-top: 30px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.box {
    background-color: #000;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 20px;
    display: inline-block;
}

#link_1 {
    color: #fff;
}

h3 {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin-bottom: 10px;
}

button {
    height: 50px;
    width: 300px;
    cursor: pointer;
    color: #fff;
    background-color: #222222;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

body {
    scrollbar-width: thin;
    scrollbar-color: #000000 transparent;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
}